.background{
    background-color: #f4fdf9;
    
}
.achievement-container{
    padding-left: 100px;
}
.achievement-card{
    background-color: white;
    height: 140px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 30px 40px;
    
}
.achievement-card:hover{
    background-color: rgb(29, 223, 207);
    height: 140px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 30px 40px;
    color: white;
    
}
.ur-dl-card{
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}
.ul-dr-card{
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
}