.header-container{
    color: #0d052e;
    font-family: "Yeseva One";
    background-image: url(../../../resources/headerPath.png);
    background-size: cover;
}
.head-title{
    font-size: 500%;
    font-weight: bold;
}