*{
    font-size:15px;
    padding: 3px;
}
.logo{
    width: 100px;
}
#navitems{
    justify-content:right;
}
.btn{
    border-radius: 20px 0px 20px 0px;
    background-image: linear-gradient(to right, #1cd8b9, #2ebbed); 
    border: 0px solid white; 
    height: 40px;
    width: 120px;    
}
