.backgroundStyle{
    background-color: #f4fdf9;
    height: 100vh;
}
.cardImgStyle{
    height: 90px;
    width: 90px;
}
.serviceCardStyle{
    background-color: #f4fdf9;
}
.textStyle{
    color: #bdc0be;
    font-size: small;
}
.serviceCardStyle:hover{
    box-shadow: 7px 7px 5px #dcf1e9;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: white;
}